<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819237125714-gdc5scpho4qfuj6avah2ddg2l9jneqvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819237125714-gdc5scpho4qfuj6avah2ddg2l9jneqvh</string>
	<key>API_KEY</key>
	<string>AIzaSyCFa0-_xKKnvQgbG1dCM1ARxxRTWxLVjH4</string>
	<key>GCM_SENDER_ID</key>
	<string>819237125714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.FriendlyChat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-1a43d</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-1a43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819237125714:ios:fcef3d61268a5746a2298b</string>
</dict>
</plist>